body{
  background-color: silver;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

h1{
  font-size: 50px;
}

h1,
nav{
  display: inline-block;
}

header{
  background: black;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

header a{
  color: white;
  text-decoration: underline;
  margin-left: 40px;
  font-size: 20px;
}

header li{
  margin: 20px;
  list-style: none;
  display: inline-block;
}
